h1 {
  color: rgb(255,255,255)
}
body {
  background: url('library.jpg')no-repeat center center fixed;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
           background-size: cover;
      font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

.transparent-box {
background-color: rgba(36, 32, 33, 0.7);
/*box-shadow: 2px 5px 2px 0 #d0d0d0;*/
/*box-shadow: rgba(36, 32, 33, 0.8) 2px -2px 2px 2px;*/
color: rgb(255, 255, 255);
border: 2px solid #ccc;
display: block;
// float: left;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 2px 5px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}
